.codex
.claude
__pycache__
data_cache
*.ckpt
*.pth
install
log
build
.agents
*.h5
*.csv
*.zip
*.tar
*.egg-info/
dist/
build/
*.egg
*.whl
*.ipynb_checkpoints/
.DS_Store
.vscode/
logs/
*.onnx
*.engine
*.cache
final_project/rover_data/*
!final_project/rover_data/.gitkeep